<h1>Notes#index</h1>
<p>Find me in app/views/notes/index.html.erb</p>



<ul>
  <% @notes.each do |note| %>
    <li>
      <%= note.text %>
      <%= form_with url: edit_patient_note_path(@patient, note), method: :get, class: "d-inline" do |form| %>
        <%= form.submit "Modifier" %>
      <% end %>
      <%= form_with url: patient_note_path(@patient, note), method: :post, class: "d-inline" do |form| %>
        <%= form.hidden_field :_method, value: :delete %>
        <%= form.submit "Supprimer" %>
      <% end %>
    </li>
  <% end %>
</ul>

<br>

<%= link_to 'Nouvelle note', new_patient_note_path(@patient) %> |
<%= link_to 'Retour au patient', patient_path(@patient) %>
