<h1>Notes</h1>

<ul>
  <% @notes.each do |note| %>
    <li>
      <%= note.text %>
      <%= link_to 'Modifier', edit_patient_note_path(@patient, note) %> |
       <%= link_to 'Supprimer', patient_note_path(@patient, note), data: {turbo_method: :delete, turbo_confirm: 'Êtes-vous sûr?'} %>
    </li>
  <% end %>
</ul>

<br>

<%= link_to 'Nouvelle note', new_patient_note_path(@patient) %> |
<%= link_to 'Retour au patient', patient_path(@patient) %>
