<h1>Nouvelle note pour <%= @patient.last_name %> <%= @patient.first_name %></h1>

<%= simple_form_for([@patient, @note], url: patient_notes_path(@patient)) do |f| %>
  <%= f.input :text, label: "Texte de la note:" %>
  <%= f.button :submit, "Créer la note" %>
<% end %>

<%= link_to 'Retour au patient', patient_path(@patient) %>
