<div class="mb-3 p-2">
  <%= link_to patient_path(@patient), class: "text-decoration-none" do %>
    <i class="text-muted symbol fa-solid fa-reply"></i>
  <% end %>
</div>

<div class="container">
  <h5>Nouvelle pathologie pour <%= @patient.name %></h5>

  <%= simple_form_for [@patient, @pathology] do |f| %>
    <%= f.input :description, label: "Description de la pathologie" %>
    <div class="text-end">
      <%= f.button :submit, "Créer la pathologie", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
