<div class="mb-3 p-2">
  <%= link_to patient_path(@patient), class: "text-decoration-none" do %>
    <i class="text-muted symbol fa-solid fa-reply"></i>
  <% end %>
</div>

<div class="container">
  <div class="d-flex justify-content-between">
    <h5 class="mb-3">Pathologie de <%= @patient.name %></h5>
    <%= link_to patient_pathology_path(@patient, @pathology), class:"text-decoration-none", data: {turbo_method: :delete, turbo_confirm: 'Êtes-vous sûr?'} do %>
      <i class="text-muted fa-solid fa-trash"></i>
    <% end %>
  </div>
    <%= simple_form_for [@patient, @pathology] do |f| %>
      <%= f.input :description, label: false, input_html: { class: "remove-validation" } %>
      <div class="text-end">
        <%= f.submit "Mettre à jour", class: "btn btn-primary" %>
      </div>
    <% end %>
</div>
