<div class="patient-profile" data-controller="tabs">
  <%= render 'patients/vitale_card', patient: @patient %>
  <%= render 'patients/address_map', patient: @patient, marker: @marker %>
  <%= render 'patients/tab_navigation' %>

  <div class="tab-content">
    <%= render 'patients/tab_info', patient: @patient %>
    <%= render 'patients/tab_pathologies', patient: @patient %>
    <%= render 'patients/tab_consultations', upcoming_appointments: @upcoming_appointments, past_appointments: @past_appointments %>
    <%= render 'patients/tab_documents', patient: @patient %>
  </div>
  <div class="delete-patient d-flex justify-content-center mt-1 mb-1">
  <%= link_to patient_path(patient), data: { turbo_method: :delete, turbo_confirm: 'Êtes-vous sûr?' }, class: "btn-delete-patient d-flex flex-column align-items-center text-decoration-none" do %>
    <i class="fa-solid fa-user-slash mb-1"></i>
    <span>Supprimer<br>patient</span>
  <% end %>
</div>

</div>
