

<% @appointments.each do |appointment| %>
  <%= link_to appointment_path(appointment), class: "no-link-appearance" do %>

    <% if params[:display] == 'week' %>

    <div class="appointment_2" style="
        top: calc(<%= ((appointment.start_time.hour - 6) * 60 + appointment.start_time.min) %>px + 6rem);
        height: <%= (appointment.end_time - appointment.start_time).to_i / 60 %>px;
        left: <%= number_in_week(appointment.date) * 13 + 12 %>%;
        width: 48px;">
      </div>

    <% else %>

      <div class="appointment" style="
        top: calc(<%= ((appointment.start_time.hour - 6) * 60 + appointment.start_time.min) %>px + 6rem);
        height: <%= (appointment.end_time - appointment.start_time).to_i / 60 %>px">
        <p class="time"><%= appointment.start_time.strftime("%H:%M") %> - <%= appointment.end_time.strftime("%H:%M") %></p>

        <div class="d-flex justify-items-center align-items-center">
          <p><strong><%= appointment.patient.first_name %> | </strong><%= appointment.reason %></p>
        </div>
      </div>
    <% end %>

  <% end %>
<% end %>
