

<% @appointments.each do |appointment| %>
  <%= link_to appointment_path(appointment), class: "no-link-appearance" do %>

    <% if params[:display] == 'week' %>

      <div class="appointment" style="
        top: <%= ((appointment.start_time.hour - 6) * 60 + appointment.start_time.min) + 10 %>px;
        height: <%= (appointment.end_time - appointment.start_time).to_i/60 %>px;
        left: <%= number_in_week(appointment.date) * 13 + 9 %>%;
        width: 13%;">
      </div>

    <% else %>

      <div class="appointment" style="
        top: <%= ((appointment.start_time.hour - 6) * 60 + appointment.start_time.min) + 10 %>px;
        height: <%= (appointment.end_time - appointment.start_time).to_i/60 %>px;">
        <p class="time"><%= appointment.start_time.strftime("%H:%M") %> - <%= appointment.end_time.strftime("%H:%M") %></p>

        <div class="d-flex justify-items-center align-items-center">
          <p><strong><%= appointment.patient.first_name %> | </strong><%= appointment.reason %></p>
        </div>
      </div>

    <% end %>

  <% end %>
<% end %>
