<div class="calendar">
  <% if params[:display] == 'week' %>
    <div class="week-dates">
      <div class="empty-cell"></div>
      <% 7.times do |i| %>
        <div class="date-cell <%= 'today' if Date.today == Date.today.beginning_of_week + i.days %>">
            <%= Appointment::DAY_NAMES[i] %>
        </div>
      <% end %>
    </div>
    <div class="week-grid">
      <div class="empty-cell"></div>
      <% 7.times do |i| %>
        <div class="day-cell <%= 'today' if Date.today.wday == (i + 1) % 7 %>">
          <div class="day-circle">
          <% current_date = Date.today.beginning_of_week + i.days %>
          <%= current_date.day %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="today-button">
    <%= link_to appointments_path(date: Date.today), class: 'color_button' do %>
      <i class="fa-solid fa-calendar-day"></i>
    <% end %>
  </div>

  <div class="calendar" data-controller="time-indicator">
    <% 14.times do |hour| %>
      <%= render "appointments/hour", hour: (hour + 6) %>
    <% end %>

    <%= render "appointments/appointments" %>

    <% if params[:display] != 'week' && is_today?(@day) %>
      <div data-time-indicator-target="line" class="current-time-indicator"></div>
    <% end %>
  </div>
</div>
