

<div class="form-appointment">
  <%= simple_form_for @appointment do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-group">
      <%= f.input :reason, label: "Motif", placeholder: "Motif du rdv", input_html: { class: 'form-control' } %>
    </div>

    <div class="form-group">
      <%= f.association :patient,
      include_blank: "Choix du patient", label: "Patient", input_html: { class: 'form-control' } %>
    </div>

    <div class="form-group">
      <%= f.input :date,
              as: :string,
              input_html: { data: {controller: "datepicker"} } %>
    </div>

    <div class="d-flex">
      <div class="form-group">
        <%= f.input :start_time,
                label: "Heure de début",
                as: :string,
                input_html: {
                  value: @appointment.start_time.present? ? @appointment.start_time.strftime("%H:%M") : "",
                  data: { controller: "timepicker" } }
        %>
      </div>

      <div class="form-group">
        <%= f.input :end_time,
                label: "Heure de fin",
                as: :string,
                input_html: {
                  value: @appointment.end_time.present? ? @appointment.end_time.strftime("%H:%M") : "",
                  data: {controller: "timepicker"} }
        %>
      </div>
    </div>

    <div class="form-group text-center">
      <%= f.button :submit, "#{@editing_details ? "Modifier" : "Ajouter"} le rendez-vous", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
