

<div class="calendar-header stick">
  <div class="dates">
    <h2><%= I18n.with_locale(:fr) { l(@day, format: :long) } %></h2>
    <div class="date-nav">
      <%= link_to t('pagination.previous'), request.params.merge(jd: (@day - 1.day).jd), class: 'btn' %>
      <%= link_to t('pagination.today'), request.params.merge(jd: Date.today.jd), class: 'btn' %>
      <%= link_to t('pagination.next'), request.params.merge(jd: (@day + 1.day).jd), class: 'btn' %>
    </div>
  </div>
      <div class="display-buttons">
  <button class="button-60">
    <%= link_to 'Journée', request.params.merge(display: "day", jd: Date.today.jd), class: "nav-link #{params[:display] == 'day' || params[:display].nil? ? 'active' : ''}" %>
  </button>
  <button class="button-60">
    <%= link_to 'Semaine', request.params.merge(display: "week"), class: "nav-link #{params[:display] == 'week' ? 'active' : ''}" %>
  </button>
  <button class="button-60">
    <%= link_to 'Mois', request.params.merge(display: "month"), class: "nav-link #{params[:display] == 'month' ? 'active' : ''}" %>
  </button>
</div>
</div>

<div data-controller="calendar">
  <% case params[:display] %>
  <% when 'month' %>
    <%= render "appointments/show_month" %>
  <% when 'week' %>
    <%= render "appointments/show_week" %>
  <% else %>
    <%= render "appointments/show_day" %>
  <% end %>

  <div class="overlay" data-calendar-target="overlay">
    <%= render "appointments/form", appointment: @appointment %>
  </div>

  <button data-action="click->calendar#open" class="btn rounded-circle calendar-pos">+</button>
</div>
