<div class="container-patient bg-white">
  <h1 class="text-center pt-3 background_color_report">Relèves</h1>
  <a href="<%= new_report_path %>" class="btn rounded-circle calendar-pos">+</a>

<div class="pt-5">
  <% names = ["Bruno Gavrel", "Yanis Dahmane"] %>
  <% @reports.each_with_index do |report, index| %>
    <div class="patient-card">
      <%= link_to report_path(report), class: "patient-link d-flex justify-content-between align-items-center text-decoration-none" do %>
        <div class="patient-info">
          <strong class="fw-bold"><%= report.start_date.strftime('%d/%m/%Y') %> au <%= report.end_date.strftime('%d/%m/%Y') %></strong>
          <p class="text-muted"><%= names[index % 2] %></p>
        </div>
        <span class="text-muted symbol fa-solid fa-chevron-right"></span>
      <% end %>
    </div>
    <% if index != @reports.length - 1 %>
      <hr class="patient-separator">
    <% end %>
  <% end %>
</div>
</div>
