<%= form_with model: @report, local: true, data: { controller: "report" } do |f| %>
  <div class="container mt-4">
    <h2 class="text-center mb-4">Créer ou Modifier un Rapport</h2>

    <div class="mb-3">
      <%= f.label :start_date, "Date de début", class: "form-label" %>
      <%= f.date_field :start_date, required: true, class: "form-control", data: { report_target: "startDate", controller: "datepicker" } %>
    </div>

    <div class="mb-3">
      <%= f.label :end_date, "Date de fin", class: "form-label" %>
      <%= f.date_field :end_date, required: true, class: "form-control", data: { report_target: "endDate", controller: "datepicker" } %>
    </div>

    <div class="mb-3 text-center">
      <%= button_tag "Générer le rapport", type: "button", class: "btn btn-secondary mb-3", data: { action: "click->report#generateReport" } %>
    </div>

    <div class="mb-3">
        <h2>Contenu du rapport</h2>
        <%= f.hidden_field :text, data: { report_target: "input" } %>
        <div class="scroll_report">
          <p data-report-target="text"></p>
        </div>
    </div>


    <div class="text-center">
      <%= f.submit "Sauvegarder le rapport", class: "btn btn-primary btn-lg" %>
    </div>
  </div>
<% end %>
