<!DOCTYPE html>
<html>
  <head>
    <title>IdelPlanner</title>
<meta name="viewport"
    content="width=device-width; initial-scale=1; viewport-fit=cover">
<link rel="manifest" href="/manifest.json">
    <meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style"
    content="black">
<meta name="theme-color" content="#F4F4F4">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <%= render "shared/flashes" %>
<div class="main-content">
    <%= yield %>
</div>
<footer class="footer_height">
    <% if user_signed_in? %>
    <%= render "shared/navbar_pwa" %>
    <% end %>
</footer>
  </body>
</html>
